<ion-app>
  <ion-menu side="start" menuId="placesMenu">
    <ion-header>
      <ion-toolbar>
        <ion-title>UMN BnB</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle menu="placesMenu">
          <ion-item lines="none" routerLink='places/tabs/discover'>
            <ion-icon name="business-outline" slot="start"></ion-icon>
            <ion-label>Discover Places</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="placesMenu">
          <ion-item lines="none" routerLink='places/tabs/offers'>
            <ion-icon name="card-outline" slot="start"></ion-icon>
            <ion-label>Your Bookings</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="placesMenu">
          <ion-item lines="none" routerLink=''>
            <ion-icon name="log-out-outline" slot="start"></ion-icon>
            <ion-label>Log Out</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>